<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposePractice"
        tools:targetApi="31">
        <activity
            android:name=".ArtSpace"
            android:exported="false"
            android:label="@string/title_activity_art_space"
            android:theme="@style/Theme.ComposePractice" />
        <activity
            android:name=".TipCalculator"
            android:exported="false"
            android:label="@string/title_activity_tip_calculator"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ClickBehavior"
            android:exported="false"
            android:label="@string/title_activity_click_behavior"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DiceRoller"
            android:exported="false"
            android:label="@string/title_activity_dice_roller"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unit2.CardName"
            android:exported="false"
            android:label="@string/title_activity_card_name"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unit2.ComposeQuadrant"
            android:exported="false"
            android:label="@string/title_activity_compose_quadrant"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unit2.TaskManager"
            android:exported="false"
            android:label="@string/title_activity_task_manager"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unit2.ComposeArticle"
            android:exported="false"
            android:label="@string/title_activity_compose_article"
            android:theme="@style/Theme.ComposePractice">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".unit2.HappyBirthDayCard"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposePractice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>